:root{
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-blue: hsl(212, 27%, 19%);
    --color-text: hsl(213, 9%, 39%);
    --grey: hsl(210, 4%, 67%);
    font-size: 18px;
}

body{
    font-family: 'Barlow', sans-serif;
    // font-family: 'Fraunces', serif;
    line-height: 1.5;
    color: var(--color-text);
}

img{
    max-width: 100%;
    display: block;
}

h1,h2,h3,h4,p{
    margin: 0;
}

.container{
    width: 85%;
    max-width: 55em;
    margin: 0 auto;
}

.spacing > * + *{
    margin-top: var(--spacer, 3rem);
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: .5em 1.25em;
    outline: none;
    position: relative;
    cursor: pointer;
    color: var(--color-text);
}

.btn--standar:hover::before{
    content: '';
    position: absolute;
    padding: .5em 1.25em;
    left: 0;
    bottom: 0;
    top: 0;
    opacity: .5;
    border-radius: 5rem;
    background-color: var(--color-text);
    animation: btn-standar .3s ease-in-out;
}

@keyframes btn-standar {
    from{
        padding: .3em;
    }

    to{
        width: auto;
        height: auto;
    }
}

.btn--filled{
    border-radius: 5rem;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    background-color: var(--color-accent);
    color: var(--dark-blue);
    
    &:hover::before{
        content: 'CONTACT';
        padding: .5em 1.25em;
        position: absolute;
        width: 10%;
        top: 0;
        left: 0;
        background-color: var(--yellow);
        border-radius: 5rem;
        animation: btn-filled .5s ease-in-out forwards;
    }
}

@keyframes btn-filled {
    from{
        width: 5%;
        background-color: var(--soft-red);
    }

    10%{
        width: 5%;
    }

    70%{
        width: 80%;
        background-color: var(--yellow);
    }

    to{
        width: 70%;
    }
}

.btn--learn-more{
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: .9rem;
    color: var(--dark-blue);
    letter-spacing: .05em;

    &::before{
        content: '';
        width: 9em;
        height: .5em;
        background-color: var(--color-accent, #fa65ff);
        position: absolute;
        top: 1.4em;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
        opacity: .3;
        border-radius: 1rem;
    }
    
    &:hover::before{
        opacity: 1;
        animation: btn-learn-more .5s ease-out;
        margin: 0;
        left: .55em;
    }
}

@keyframes btn-learn-more {
    from{
        width: .5em;
    }

    25%{
        width: .5em;
    }

    to{
        width: 9em;
    }
}

.primary-title{
    color: #fff;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-size: 2rem;
    font-size: clamp(2rem, 5vw + 1rem, 2.5rem);
    line-height: 1.3;
    
    span{
        position: relative;

        &::after{
            content: 'creatives';
            position: absolute;
            left: 0;
            color: var(--yellow);
            clip-path: ellipse(1em 1em at -2.54% -9.25%);
            animation: swing 5s infinite;
            animation-direction: alternate;
          }
    }
}
  
@keyframes swing{
  0%{
    clip-path: ellipse(1em 1em at -2.54% -9.25%);
    color: var(--soft-red);
  }

  25%{
    clip-path: ellipse(1em 1em at 25.54% -30%);
    color: var(--soft-red);
  }

  50%{
    clip-path: ellipse(1em 1em at 49.66% 50%);
  }

  75%{
    clip-path: ellipse(1em 1em at 75% 125%);
  }

  100%{
    clip-path: ellipse(1em 1em at 102.62% -1.61%);
  }
}

.secondary-title{
    font-family: 'Fraunces', serif;
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 3vw + 1rem, 2.5rem);
    color: var(--color-text);
    font-weight: 900;
}

.tertiary-title{
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    color: var(--grey);
    font-size: 1.025rem;
    letter-spacing: .2em;
}

.name{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: var(--dark-blue);
    font-size: 1.1rem;
}

.job{
    color: var(--grey);
    font-size: .9rem;
}

header{
    background-image: url(../images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 28em;
    text-align: center;
    
    > img{
        margin: auto;
    }
    
    .top{
        padding: 1.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // --color-accent: #fff;
    }

    .hamburger-svg{
        cursor: pointer;
    }


    @media screen and (max-width: 46.5em) {
        .menu{
            position: absolute;
            top: 6em;
            left: 0;
            right: 0;
            margin: auto;
            padding: 1em 0;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            width: 85%;
            height: 15em;
            z-index: 1000;
            --color-accent: var(--yellow);
            
            .btn--filled{
                margin-top: .5em;
            }
            
            &::after{
                content: '';
                width: 0;
                height: 0;
                border-left: 2em solid transparent;
                border-top: 2em solid transparent;
                border-right: 2em solid #fff;
                border-bottom: 2em solid #fff;
                position: absolute;
                top: -2em;
                right: 0;
            }
            display: none;
        }
    }

}

.benefits{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    --spacer: 1em;
    --color-text: var(--dark-blue);

    &__info{
        text-align: center;
        padding: 4em 0;

        &--small{
            font-size: .9rem;
            text-align: center;
            padding-top: 20rem;
            color: var(--color-text);
        }
    }

    &--img-inside{
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &--graphic-design{
        background-image: url(../images/mobile/image-graphic-design.jpg);
        --color-text: hsl(167, 40%, 24%);
    }

    &--photography{
        background-image: url(../images/mobile/image-photography.jpg);
        --color-text: hsl(198, 62%, 26%);
    }

    &--transform{
        --color-accent: var(--yellow)
    }

    &--stand-out{
        --color-accent: var(--soft-red);
    }

    .img-transform{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .img-stand-out{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.social-proof{
    text-align: center;
    padding: 4em 0;
    --spacer: 3rem;

    &__reviews{
        display: flex;
        flex-direction: column;
        gap: 4em;

        > * {
            width: 100%;
        }
    }
    
    p{
        margin-top: 1.5em;
    }

    .job{
        margin-top: .5em;
    }

    img{
        width: 4.5rem;
        border-radius: 50%;
        margin: auto;
    }
}

.gallery{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

footer{
    --color-text: hsl(168, 34%, 41%);
    background-color: hsl(165, 46%, 74%);
    padding: 5em 0;

    .logo{
        width: 10em;
        margin: auto;
    }

    .btns{
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 1.5em;
    }

    .social-media{
        display: flex;
        justify-content: center;
        gap: 1.5em;
        margin-top: 3em;
    }
}

@media screen and (min-width: 34em) {
    header{
        height: 100vh;
        background-size: cover;
        background-position: bottom;
    }

    .benefits{
        &__info--small{
            padding: 18rem 0 4em;
        }

        &--img-inside{
            background-position: center center;
            background-size: cover;
        }

        &--graphic-design{
            background-image: url(../images/desktop/image-graphic-design.jpg);
        }

        &--photography{
            background-image: url(../images/desktop/image-photography.jpg);
        }
    }
}

@media screen and (min-width: 46.5em){
    header{
        background-image: url(../images/desktop/image-header.jpg);
        
        .hamburger-svg{
            display: none;
        }
        
        .menu{
            --color-accent: #fff;
            --color-text: #fff;
        }
    }

    .benefits{
        grid-template-rows: auto auto auto;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "transform img-transform"
            "img-stand-out stand-out"
            "graphic-design photography";
        
        &__info--big{
            padding: 5.5em;
            width: auto;
            text-align: left;
        }

        &--transform{
            grid-area: transform;
        }

        .img-transform{
            grid-area: img-transform;
            content: url(../images/desktop/image-transform.jpg);
        }

        &--stand-out{
            grid-area: stand-out;
        }

        .img-stand-out{
            grid-area: img-stand-out;
            content: url(../images/desktop/image-stand-out.jpg);
        }
    }

    .social-proof{
        padding: 6em 0;

        &__reviews{
            flex-direction: row;
            gap: 1em;

            img{
                width: 3em;
            }
        }

    }

    .gallery{
        grid-template-columns: auto auto auto auto;

        &__milk-bottles{
            content: url(../images/desktop/image-gallery-milkbottles.jpg);
        }

        &__orange{
            content: url(../images/desktop/image-gallery-orange.jpg);
        }

        &__cone{
            content: url(../images/desktop/image-gallery-cone.jpg);
        }

        &__sugarcubes{
            content: url(../images/desktop/image-gallery-sugarcubes.jpg);
        }
    }
}

@media screen and (max-width: 350px) {
    header{
        background-size: cover;
        background-position: center;
    }

    .primary-title{
        font-size: 1.5em;
    }

    .benefits__info--small{
        padding-top: 15rem;
    }

    footer{
        .btns{
            gap: .5em;
        }

        .btn{
            padding: 0;
        }
    }
}